body {
	background-image: url("../images/zelda_bg2.jpg");
	background-repeat: repeat-x;
	font-family: 'Indie Flower', cursive;
}


h1, h3, p {
	text-align: center;
}

#content {
	margin: 5% 10%;	
    border-style: inset;
    border-width: 10px;

}

.pad_id {
    margin: 5% 10%; 
    width: 500px;
}

.butt_id {
    margin: 10px 5%;
    width: 600px;
}

#pad_progess_bar {
	margin-right: 10%;
	margin-left: 10%;
}

/* Flaired edges, by Tomas Theunissen */

hr {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    
}
hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;

}